@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@100;200;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(30deg, 38%, 92%);
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  place-items: center;
}
body .card-container {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 10rem;
}

@media (min-width: 375px) {
  .card {
    display: grid;
    grid-template-rows: auto auto;
    width: 33rem;
    height: auto;
    background-color: hsl(0deg, 0%, 100%);
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .card picture > * {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: rgb(82, 78, 78);
    border: 0;
  }
  .card-body {
    background-color: hsl(0deg, 0%, 100%);
    padding: 0 2.4rem 2rem 2.4rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .card-product {
    display: block;
    padding-top: 2rem;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(10px, 1.2rem, 1.3rem);
    line-height: clamp(16px, 1.8rem, 2rem);
    font-weight: 500;
    letter-spacing: 4px;
    color: hsl(228deg, 12%, 48%);
    text-transform: uppercase;
  }
  .card-title {
    padding: 1rem 0 2rem 0;
    font-family: "Fraunces", serif;
    font-size: clamp(28px, 3rem, 3.2rem);
    font-weight: 700;
    line-height: clamp(30px, 3.2rem, 3.4rem);
    color: hsl(212deg, 21%, 14%);
  }
  .card-info {
    color: hsl(228deg, 12%, 48%);
    font-size: clamp(12px, 1.4rem, 1.6rem);
    font-weight: 500;
    line-height: clamp(18px, 2rem, 2.2rem);
    word-spacing: 0.2rem;
    padding-bottom: 2rem;
  }
  .card-items-prices {
    display: flex;
    position: relative;
    padding-bottom: 2rem;
  }
  .card-items-prices .card-discount {
    color: hsl(158deg, 36%, 37%);
    font-family: "Fraunces", serif;
    font-size: clamp(28px, 3rem, 3rem);
    font-weight: 700;
    line-height: clamp(30px, 3.2rem, 3.2rem);
  }
  .card-items-prices .card-price {
    position: absolute;
    top: 5px;
    left: 14rem;
    color: hsl(228deg, 12%, 48%);
    font-family: "Montserrat", sans-serif;
    font-size: clamp(12px, 1.4rem, 1.4rem);
    font-weight: 500;
    line-height: clamp(18px, 2rem, 2rem);
    word-spacing: 0.2rem;
    text-decoration: line-through;
    -webkit-text-decoration-color: hsl(228deg, 12%, 48%);
            text-decoration-color: hsl(228deg, 12%, 48%);
  }
  .card-btn {
    position: relative;
    display: flex;
    font-size: clamp(12px, 1.4rem, 1.6rem);
    font-weight: 500;
    line-height: clamp(18px, 2rem, 2.2rem);
    padding: 2.5rem;
    color: hsl(0deg, 0%, 100%);
    background-color: hsl(158deg, 36%, 37%);
    border-radius: 0.8rem;
    text-decoration: none;
  }
  .card-btn span {
    position: absolute;
    top: 1.4rem;
    left: 11rem;
  }
  .card-btn:before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 1.5rem;
    left: 8.5rem;
    background: url("../images/icon-cart.svg");
    background-size: contain;
    min-width: 16px;
    min-height: 16px;
    background-repeat: no-repeat;
    padding-right: 2rem;
    color: hsl(0deg, 0%, 100%);
  }
  .card-btn:hover, .card-btn:focus {
    background-color: hsl(212deg, 21%, 14%);
    transition: 1s ease;
  }
}
@media (min-width: 1440px) {
  .card {
    width: 55rem;
    height: 100%;
    background-color: hsl(0deg, 0%, 100%);
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top-right-radius: 12px;
  }
  .card picture {
    max-width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card .card-body {
    border-top-right-radius: 12px;
  }
  .card picture > * {
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-right-radius: 0;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .card source {
    display: none;
  }
  .card .card-items-prices {
    margin-top: 2rem;
  }
  .card .card-btn span {
    top: 1.4rem;
    left: 8rem;
  }
  .card .card-btn:before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 1.5rem;
    left: 6rem;
  }
}/*# sourceMappingURL=style.css.map */