@import "../abstracts/breakpoints";
@import "../abstracts/colors";
@import "../abstracts/typography";

body {
  background-color: $cream-color;
  font-family: $montserrat;
  font-size: 1.4rem;

  .card-container {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 10rem;
  }

  // letter-spacing: 0em;
}
@include xxs {
  .card {
    display: grid;
    grid-template-rows: auto auto;
    width: 33rem;
    height: auto;
    background-color: $white-color;
   border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    picture > * {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      background-color: rgb(82, 78, 78);
      border: 0;
    }
  }

  .card-body {
    background-color: $white-color;
    padding: 0 2.4rem 2rem 2.4rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .card-product {
    display: block;
    padding-top: 2rem;
    font-family: $montserrat;
    font-size: clamp(12px, 1.3rem, 1.4rem);
    line-height: clamp(16px, 1.8rem, 2rem);
    font-weight: 500;
    letter-spacing: 4px;
    color: red;
    text-transform: uppercase;
  }

  .card-title {
    padding: 1rem 0 2rem 0;
    font-family: $fraunces;
    font-size: clamp(28px, 3rem, 3rem);
    font-weight: 700;
    line-height: clamp(30px, 3.2rem, 3.2rem);
    color: $dark-blue-color;
  }

  .card-info {
    color: $grayish-blue-color;
    font-size: clamp(12px, 1.4rem, 1.4rem);
    font-weight: 500;
    line-height: clamp(18px, 2rem, 2rem);
    word-spacing: 0.2rem;
    padding-bottom: 2rem;
  }
  .card-items-prices {
    display: flex;
    position: relative;
    padding-bottom: 2rem;

    .card-discount {
      color: $dark-cyan-color;
      font-family: $fraunces;
      font-size: clamp(28px, 3rem, 3rem);
      font-weight: 700;
      line-height: clamp(30px, 3.2rem, 3.2rem);
    }

    .card-price {
      position: absolute;
      top: 5px;
      left: 14rem;
      color: $grayish-blue-color;
      font-family: $montserrat;
      font-size: clamp(12px, 1.4rem, 1.4rem);
      font-weight: 500;
      line-height: clamp(18px, 2rem, 2rem);
      word-spacing: 0.2rem;
      text-decoration: line-through;
      text-decoration-color: $grayish-blue-color;
    }
  }
  .card-btn {
    position: relative;
    display: flex;
    font-size: clamp(12px, 1.4rem, 1.4rem);
    font-weight: 500;
    line-height: clamp(18px, 2rem, 2rem);
    padding: 2.5rem;
    color: $white-color;
    background-color: $dark-cyan-color;
    border-radius: 0.8rem;
    text-decoration: none;

    span {
      position: absolute;
      top: 1.4rem;
      left: 11rem;
    }

    &:before {
      content: "";
      position: absolute;
      display: inline-block;
      top: 1.5rem;
      left: 8.5rem;
      background: url("../images/icon-cart.svg");
      background-size: contain;
      min-width: 16px;
      min-height: 16px;
      background-repeat: no-repeat;
      padding-right: 2rem;
      color: $white-color;
    }
    &:hover,
    &:focus {
      background-color: $dark-blue-color;
      transition: 1s ease;
    }
  }
}

@include xxl {
  .card {
    width: 55rem;
    height: 100%;
    background-color: $white-color;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top-right-radius: 12px;

    picture {
      max-width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .card-body {
      border-top-right-radius: 12px;
    }
    picture > * {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-right-radius: 0;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }
    source {
      display: none;
    }
    .card-items-prices {
      margin-top: 2rem;
    }
    .card-btn {
      span {
        top: 1.4rem;
        left: 8rem;
      }

      &:before {
        content: "";
        position: absolute;
        display: inline-block;
        top: 1.5rem;
        left: 6rem;
      }
    }
  }
}
